.home{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home .img1{
    position: fixed;
    bottom: -15%;
    left: -13%;
    z-index: -1;
}

.home .img2{
    position: fixed;
    top: -28%;
    right: -5%;
    z-index: -1;
}

.home .img3{
    position: fixed;
    left: 12%;
    top: 28%;
    width: 20%;
    height: 40%;
    z-index: -1;
}

.home .img4{
    position: fixed;
    bottom: -4%;
    right: -3%;
    width: 10%;
    height: 20%;
    z-index: -1;
}

.home .img5{
    position: fixed;
    bottom: 15%;
    right: 5%;
    width: 3%;
    height: 6%;
    z-index: -1;
}

.home .search{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    left: 18%;
    top: 8%;
}

.home .search input[type=text] {
    padding: 4px;
    margin: 10px;
    border: none;
    font-weight: 200;
    color: rgba(99, 92, 92, 0.137);
    font-size: 11px;
    width: 200px;
}

  .home .search .icon{
      background-color: rgb(255, 255, 255);
      border-radius: 50%;
      margin: 10px;
  }
  .home .search .icon i{
      color: #000;
      padding: 10px;
      font-size: 11px;
}

.home .cards{
    margin-left:20%;
    margin-right: 20%;
    /* background: #000; */
    color: #000;
    width: 80%; 
    margin-top: 10%;
    padding: 50px;
    display: flex;
    flex-direction: column;
}

.home .cards .category{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: flex-end;
}

.home .cards .category h4{
    font-size: 20px;
    text-transform: uppercase;
    font-size: 12px;
    margin-bottom: 5px;
    color: rgb(204, 202, 202);
}

.home .cards .category h1{
    font-size: 30px;
    text-transform: capitalize;
}

.home .cards .grid-system{
    margin: 40px;
    display: grid;
    /* grid-template-rows: repeat(auto-fit,minmax(300px,1fr)); */
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    grid-row-gap: 18px;
    grid-column-gap: 20px;   
    max-width: 100%;
}



.home .cards .grid-system .card-grid{
    width: 220px;
    height: 300px;
    border-radius: 20px;
    position: relative;
}
.home .cards .grid-system .card-grid:hover{
    transform: scale(1.1);
}

.home .cards .grid-system .card-grid img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
}
.home .cards .grid-system .card-grid .content{
    position: absolute;
    bottom: -20px;
    left: 0; 
    width: 100%; 
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.856);
    color: #fff;
    margin:20px 0;
    padding: 10px;
    border-radius: 0 0 20px 20px;
}

.cards .grid-system .card-grid .content .name{
    display: flex;
    width: 100%;
    color: #fff;
    margin-bottom: 5px;
}

.cards .grid-system .card-grid .content .name h2{
    font-size: 15px;
    margin-left: 5px;
    margin-right: 50px;
}
.cards .grid-system .card-grid .content .name i{
    font-size: 24px;
}

.cards .grid-system .card-grid .content .clock{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    margin: 5px;
    margin-bottom: 10px;
}
.cards .grid-system .card-grid .content .clock i{
    font-size: 12px;
    margin-right: 5px;
}
.grid-system .card-grid .content .clock h4{
    font-size: 12px;
}
.grid-system .card-grid .content p{
    font-size: 10px;
    line-height: 15px;
    font-family: Metropolis-light;
}